extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home-slider
		.container-fluid
			figure.mb-0
				img.img-fluid(src="./img/home_slider_2.png", alt="")
				figcaption.content_img
					h1 Chúng tôi là FullStack Vietnam
					p
						| Reference site about Lolem Ipsum, giving information on its origins, as well as random Lipsum generator.
					a.btn_more(href="#") Xem chi tiết
	section.home-banner
		.container.width-content
			.row
				.col
					figure.mb-0
						img.img-fluid(src="./img/home_banner_1.png", alt="")
						figcaption.content_img
							h2 USA'S HOTTEST JEAN
							a.btn_more(href="#") Shopping now
	section.home-service
		.container.width-content
			.row
				.col.mt-5.relative-before
					h2 FullStack Vietnam
			.row
				-for(x=1; x<=4; x++)
					.col-sm-6.col-md-3.item
						a(href="javascript:void(0)")
							figure
								.boximg
									img.img-fluid(src="./img/home_services_"+x+".png", alt="")
								figcaption
									h3 Trung tâm đào tạo it chuyên nghiệp
									price $36.59
	section.home-happy
		.container.width-content
			.row
				.col.mt-5
					figure.mb-0
						.boximg
							img.img-fluid(src="./img/home_happy_1.png", alt="")
						figcaption.content_img
							h2 Hạnh phúc phía sau
							p USA'S HOTTEST JEANS
						span.sale Sale 20%
	section.home-note
		.container.width-content
			.row.mt-5
				.col-md-5.mb-5.mb-md-0
					.boximg
						img.img-fluid(src="./img/home_note_1.png", alt="")
				.col-md-7.happy_content
					h2 Hạnh phúc phía sau
					p Want the most stylish designs in metrosexual and gay apparel? Looking for the sexiest gay outfits and pride outfits? Differio has the trendiest gay pride apparel from gay pride clothing to lgbt clothing. Shop our gay menswear collection for the hottest gay pride outfits in gay clothing for men.
	section.home_clients
		.container.width-content
			.row
				.col.mt-5.relative-before
					h2 FullStack Vietnam
			.row
				.col
					.owl-carousel
						-for(x=1;x<=6;x++)
							a(href="#")
								img(src="./img/home_clients_"+x+".png" alt="")
