body
	font-family: 'Lato', sans-serif
	background: black
.btn_more
	background: #fff
	color: #000
	border: 1px solid #000
	padding: .5rem 1rem
	+media-breakpoint-up(sm)
		padding: .2rem
.width-content
	width: 100%
	background: black
.width-content
	.relative-before
		height: 1px
		background: #fff
		margin-bottom: 3rem
		display: flex
		justify-content: center
		align-items: center
		position: relative
		h2
			background: #000
			color: #fff
			margin: 1rem 0 2rem 0
			padding: 0 1rem
			font-size: 1rem
			text-transform: uppercase
			position: absolute
			transform: translateY(-50%)
		+media-breakpoint-up(sm)
			h2
				font-size: 1.2rem
		
		+media-breakpoint-up(md)
			h2
				font-size: 1.5rem
.home-slider
	.container-fluid
		padding: 0
	figure
		position: relative
		img
			width: 100%
		.content_img
			width: 200px
			position: absolute
			transform: translateX(-50%), translateY(-50%)
			top: 25%
			left: 10%
			color: white
			h1
				font-size: 1.2rem
			p
				display: none
			a
				padding: .5rem 1rem
				font-size: .5rem
				text-decoration: none
				text-transform: uppercase
				&:hover
					color: #000
					background: yellow
	+media-breakpoint-up(md)
		figure
			.content_img
				width: 250px
				top: 30%
				left: 10%
				h1
					font-size: 2rem
					margin-bottom: 2rem
				p
					margin-bottom: 1.5rem
					display: flex
				a
					font-size: 1rem
.home-banner
	figure
		background: #000
		align-items: center
		padding: 0
		text-align: center
		img
			margin: .5rem 0
			width: 100%
		.content_img
			text-align: left
			position: absolute
			transform: translateX(-50%), translateY(-50%)
			top: 30%
			left: 1rem
			color: white
			h2
				text-transform: uppercase
				+pad(.1rem, .2rem)
				margin: 0rem
				background: black
				font-size: 0.9rem
			a
				font-size: 0.4rem
				background: yellow
				border: none
				text-decoration: none
				text-transform: uppercase
	
	+media-breakpoint-up(sm)
		figure
			padding: 0 1rem
			.content_img
				top: 40%
				left: 10%
				h2
					font-size: 1rem
					margin-bottom: 0rem
				a
					font-size: .7rem
	+media-breakpoint-up(md)
		figure
			padding: 2rem 6rem 0
			.content_img
				top: 35%
				left: 7rem
				h2
					font-size: 1.5rem
				a
					font-size: 1rem
	+media-breakpoint-up(xl)
		figure
			.content_img
				h2
					font-size: 2rem
				a
					font-size: 1.5rem
.home-service
	.width-content
		padding: 0 6rem
		text-align: center
		color: white
	a
		text-decoration: none
		color: white
		h3
			text-transform: uppercase
			margin-top: 1rem
			font-size: 1.2rem
	.item
		a
			text-align: left
			margin-top: 2rem
			text-decoration: none
			figure
				.boximg
					overflow: hidden
					position: relative
					&:before
						content: ''
						display: block
						height: 100%
						width: 100%
						position: absolute
						z-index: 1
					img
						width: 100%
						-webkit-filter: grayscale(100%)
						filter: grayscale(100%)
						transition: 1s all ease-in-out
				&:hover
					.boximg
						&:before
							box-shadow: 0 0 0 3px yellow inset
				figcaption
					h3
						
						color: #fff
						font-size: 16px
						margin-top: .5rem
					
					price
						font-size: 14px
						overflow: hidden
						text-overflow: ellipsis
						color: #a8a8a8
				&:hover,
				&:active
					.boximg
						img
							-webkit-filter: grayscale(0%)
							filter: grayscale(0%)
							transform: scale(1.2)
					figcaption
						h3
							color: yellow
						price
							color: rgb(0,234,255)
.home-happy
	.width-content
		text-align: center
	figure
		position: relative
		.boximg
			position: relative
			&:before
				position: absolute
				content: ''
				display: block
				height: 100%
				width: 100%
				box-shadow: 0 0 0 4px white inset
			img
				width: 100%
		.content_img
			position: absolute
			transform: translateY(-50%), translateX(-50%)
			top: 50%
			left: 25%
			h2
				padding: .2rem .2rem 1rem
				margin: 0
				color: #fff
				background: #000
				font-size: 1.5rem
			p
				color: black
				background: yellow
				font-size: 1rem
				text-decoration: none
				text-transform: uppercase
		//-Nut Sale
		.sale
			display: flex
			position: absolute
			top: 5%
			right: 10%
			width: 35px
			height: 35px
			border-radius: 50%
			background: #000
			color: yellow
			align-items: center
			font-size: .7rem
	+media-breakpoint-up(sm)
		figure
			.content_img
				left: 25%
				h2
					font-size: 2rem
			.sale
				font-size: .9rem
				width: 43px
				height: 43px
	+media-breakpoint-up(md)
		figure
			padding: 0 6rem
			.content_img
				h2
					font-size: 2rem
					text-transform: uppercase
				p
					font-size: 1.5rem
					display: inline-block
			.sale
				top: 10%
				right: 15%
				width: 50px
				height: 50px
	+media-breakpoint-up(xl)
		figure
			padding: 0 6rem
			.content_img
				h2
					font-size: 4rem
					text-transform: uppercase
				p
					font-size: 2.5rem
					display: inline-block
			.sale
				top: 5%
				right: 10%
				width: 50px
				height: 50px
.home-note
	color: white
	text-align: center
	.boximg
		position: relative
		&:before
			position: absolute
			content: ''
			display: block
			height: 100%
			width: 100%
			box-shadow: 0 0 0 4px white inset
		img
			width: 100%
	.happy_content
		position: relative
		h2
			width: 50%
			position: absolute
			font-size: 1.5rem
			border: 2px solid yellow
			padding: .5rem
			margin-bottom: 1rem
			background: darken(white, 70%)
			transform: translate(50%, -50%)
			right: 50%
		p
			display: flex
			padding: 3rem 2rem 2rem
			border: 2px solid yellow
			font-size: 1rem
			height: 100%
			align-items: center
	+media-breakpoint-up(sm)
		.happy_content
			p
				padding: 3rem 2rem 2rem
				font-size: 1.2rem
	+media-breakpoint-up(xl)
		.width-content
			padding: 0 6rem
		.happy_content
			p
				padding-top: 2rem
.home_clients
	.width-content
		padding: 2rem 6rem 0
		text-align: center
		color: white
	.owl-carousel
		margin-bottom: 2rem
	+media-breakpoint-up(sm)
		.owl-carousel
			position: relative
			display: flex
			justify-content: center
			align-items: center
			.owl-item
				margin: 0 2rem
				img
					width: 80px
					height: 30px
			.owl-nav
				button
					position: absolute
					top: 30%
					transform: translateY(-50%)
					color: $whites
					background: #a8a8a8
					width: 20px
					height: 20px
				.owl-prev
					left: -25px
				.owl-next
					right: -25px

