footer
	.linkfooter
		.container
			.row
				.col-md-4.mt-4
					h4 fullstack Vietnam
					p.mb-0 Mobile: (+84) 969689893
						br
						| Email: admin@fullstackvietnam.com
						br
						| Địa chỉ: 28 đường số 2 – CITY LAND – Phường 7 – Gò Vấp – HCM
				.col-sm.mt-4
					h4 Links
					.row
						.col-sm-6.col-md.mb-3.mb-md-0
							ul.list-unstyled
								li
									a(href="#") Khóa học FrontEnd Master
								li
									a(href="#") Khóa học FullStack Developer
								li
									a(href="#") Kháo học Design Chuyên nghiệp
								li
									a(href="#") Lịch Khai Giảng
								li
									a(href="#") Đăng ký khóa học
						.col-sm-6.col-md.mb-3.mb-md-0
							ul.list-unstyled
								li
									a(href="#") Khóa học FrontEnd Master
								li
									a(href="#") Khóa học FullStack Developer
								li
									a(href="#") Kháo học Design Chuyên nghiệp
								li
									a(href="#") Lịch Khai Giảng
								li
									a(href="#") Đăng ký khóa học
						.col-md-4.mb-4.link-reference
							a(href="#")
								i.fa.fa-twitter
							a(href="#")
								i.fa.fa-facebook

	.copyright
		.container
			.row
				.col-sm-6.mt-3.mb-3.text
					p.mb-0 Copyright 2018 by FullStack Vietnam
				.col.col-sm-6.mb-3.mt-sm-3.btn-input
					input.btn-text.mb-2.mb-sm-0(type="text" placeholder="Email của bạn")
					input.btn-submit(type="submit" value="Gửi")

