<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav.navbar.navbar-expand-lg.navbar-light
			a.navbar-brand(href="#") 
				img(src="./img/home_logo.png", alt="Logo")
			//- Button xuất hiện khi vào mobile
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
				span.fa.fa-bars
			#fullStackMenu.collapse.navbar-collapse
				.mr-auto
				ul.navbar-nav
					li.nav-item
						a.nav-link(href="index.html")
							| My Account
					li.nav-item
						a.nav-link(href="#") 
							| Check Gift
					li.nav-item
						a.nav-link(href="#")
							| CardMy
					li.nav-item
						a.nav-link(href="#")
							| Wishlist
					li.nav-item
						a.nav-link(href="#")
							| The Different
					li.nav-item
						a.nav-link(href="#")
							| Career
					li.nav-item
						a.nav-link(href="#")
							| Checkout
<!-- ////////////// HEADER ////////////// -->
